---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "PHICTION - 404";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>404</h1>
    <p>is this real.. or Phiction?</p>
  </div>
</BaseLayout>
