---
import "@fortawesome/fontawesome-free/css/all.min.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const imageUrl = "/images/main.jpg";
const title = "PHICTION | 404 ERROR";
---

<BaseLayout title={title}>
  <!-- Background Image Container -->
  <div class="background-container">
    <img 
      src={imageUrl} 
      alt="PHICTION Official Banner" 
      class="background-image"
    />
    <div class="overlay">
      <h1>404</h1>
      <p>is this real or phiction?</p>
    </div>
    </div>
</BaseLayout>

<style>
  .overlay {
    flex-direction: column;
  }
</style>
