---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "PHICTION - Contact";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Contact</h1>
    <p>buzz off</p>
  </div>
</BaseLayout>
