---
import { getCollection } from "astro:content";
import "@fortawesome/fontawesome-free/css/all.min.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import AlbumCard from "../components/AlbumCard.astro";
import Preloader from "../components/Preloader.astro";

const imageUrl = "/images/main.jpg";
const title = "PHICTION | Official Site";

// Fetch all albums and sort them by date (newest first)
const albums = await getCollection("albums");
const mostRecentAlbum = albums
  .filter(album => album.data.publishDate) 
  .sort((a, b) => new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime())[0]; 

---

<BaseLayout title={title}>
  <!-- Background Image Container -->

  <Preloader />

  <div class="background-container">
    <img 
      src={imageUrl} 
      alt="PHICTION Official Banner" 
      class="background-image"
    />

    <!-- AlbumCard Overlay -->
    <div class="overlay">
      {mostRecentAlbum && <AlbumCard album={mostRecentAlbum} />}
    </div>
  </div>
</BaseLayout>

<script src="../scripts/index.js"></script>

<style>

</style>
