---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "PHICTION - Releases";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Releases</h1>
    <p>TBD</p>
  </div>
</BaseLayout>
