---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "PHICTION - Upcoming Shows";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Upcoming Shows</h1>
    <p>Use seated for this</p>
  </div>
</BaseLayout>
