---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "PHICTION - Store";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Store</h1>
    <p>link to shopify</p>
  </div>
</BaseLayout>
